<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./output.css">
    <title>Dashboard</title>
</head>
<body class="bg-[#0d1011] h-dvh">
    <main class="grid grid-rows-[2fr_0.1fr] md:grid-cols-[0.2fr_1fr] h-dvh">
        <section class="grid  row-start-2 md:row-start-1 md:col-start-1">
            <%- include("partials/nav") %>
        </section>
        <section class="overflow-y-scroll"> hjghg</section>
    </main>
</body>
</html>